#wrap{overflow: hidden; font-family: 'Oswald', sans-serif; color: #333}
#wrap .imgbox{position: absolute; width: 100%; height: 100%}
#wrap #imgBG{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -100; display: block}
#wrap #subBG{display: none}

#content{clear: both; width: 100%; overflow: hidden; margin-top: 670px}
#wrap section{width: 96%; margin: 4% 2%; clear: both; position: relative; overflow: hidden; padding-top: 3%; background: rgba(0,0,0,.8)}

#wrap .series h3{color: #fff; font-size: 5em; text-align: center; font-family: 'Oswald', sans-serif; font-weight: 700; margin: 0 0 30px}
#wrap .series div{margin-bottom: 5%}
#wrap .series span{font-size: 3em}
#wrap .series p{font-size: 1em}

#wrap .series1{overflow: hidden}
#wrap .series1 figure{width: 40%; margin: 0 3%; float: left}
#wrap .series1 figure img{width: 100%; border-radius: 15px}
#wrap .series1 figcaption{width: 54%; float: right; background: #fff}

#wrap .series2{overflow: hidden}
#wrap .series2 figure{width: 40%; margin: 0 3%; float: left}
#wrap .series2 figure img{width: 100%; border-radius: 15px}
#wrap .series2 figcaption{width: 54%; float: right}

#wrap .series3{overflow: hidden}
#wrap .series3 figure{width: 40%; margin: 0 3%; float: left}
#wrap .series3 figure img{width: 100%; border-radius: 15px}
#wrap .series3 figcaption{width: 54%; float: right}

#footerArea{width: 100%}