body{font: 1em/1.67 'Oswald', Sans-serif; margin: 0; background: #000}

#wrap{width: 100%; margin: 0 auto; overflow: hidden}
#wrap .imgbox{position: absolute; width: 100%; height: 100%}
#wrap #imgBG{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -100; display: block}
#wrap #subBG{display: none}

#wrap #content{width: 100%; margin: 753px 0 150px}

section{
    overflow: hidden;
    background: rgba(0,0,0,.7);
    width: 90%;
    margin: 0 auto;
    padding: 30px 50px 0;
    font-family: 'Oswald', sans-serif
}

#wrap section h3{color: #fff; font-size: 5em; text-align: center; font-family: 'Oswald', sans-serif; font-weight: 700; margin: 0 0 30px}

#wrap .subTitle{
    display: block;
    position: relative;
    padding-top: 10px;
    font-size: 2em;
    text-align: justify;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-left: 11px
}

#wrap .subTitle:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 4px;
    margin-left: 0px;
    background: red
}

#wrap .clip_part{
    width: 50%;
    float: left;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif
}

#wrap .clip_part .contentArea{
    position: relative;
    width: 96%;
    margin: 30px auto
}

#wrap .imgPart{
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

#wrap .clip_part .contentArea .imgPart .popup-youtube > img {
    width: 100%
}

#wrap .clip_part .contentArea p{
    color: #fff;
    text-align: justify;
    font-size: 1em
}

#wrap .clip_part .playBnt{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0, 0, 0, .6)
}

#wrap .clip_part .imgPart:hover .playBnt{
    background: rgba(255, 0, 0, .6)
}


#wrap .clip_part .playBnt img{
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px
}

#wrap #content .clip1{padding-top: 0}
#wrap #content .clip1 .clip_part{float: left; width: 25%; margin-bottom: 50px}
#wrap #content .clip1 .subTitle{}
#wrap .clip1 .clip_part .contentArea{
    position: relative;
    width: 93%;
    margin: 30px auto
}

/*--------------------------반응형----------------------------*/

@media only screen and (max-width: 1280px){
            #wrap #content .clip1 .subTitle{
                font-size: 2em;
            }
    
        }



        @media only screen and (max-width: 1024px) {
            .pics{
                column-count: 4;
            }
        }

@media screen and (max-width:768px) {

    
    #wrap #imgBG{display: none}
    #wrap #subBG{display: block; position: fixed; left: 0; top: 0; z-index: -10; width: 100%}
    #wrap .clip1{float: left}
    #wrap #content .clip1 .clip_part{float: left; width: 50%; margin-bottom: 0}
    
    

}


@media screen and (max-width:640px) {
    .subTitle {
        font-size: 1.5em
    }
}

@media screen and (max-width:480px) {
    .clip_part .playBnt {
        width: 95px;
        height: 95px;
        margin: -48px 0 0 -48px;            
    }

    .clip_part .contentArea {
        width: auto
    }
    
    
    
    
}
